.section1 a,
.section2 a,
.section3 a,
.adem,
.adem1,
.adem2 {
    text-decoration: none !important;
}

body {
    color: black;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100px;
    background-image: url(public/joanna-kosinska-7ACuHoezUYk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: black;
}

header ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

header div {
    float: right;
    margin-right: 20px;
}

header a:hover {
    text-decoration: underline;
    color: darkcyan;
}

header li {
    font-style: italic;
}

header a {
    text-decoration: none;
    color: white;
}

.logo-box img {
    width: 120px;
    border-radius: 12px;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.section {
    flex: 1;
    margin: 0 1rem;
    text-decoration: none;
    background-color: #0984e3;
    padding: 15px;
    border-radius: 12px;
    color: white;
    max-width: 10%;
}

.adem,
.adem1,
.adem2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

span {
    color: #ffffff;
    text-decoration: wavy;
    text-decoration-color: #0984e3;
}