.section1 a,
.section2 a,
.section3 a,
.adem,
.adem1,
.adem2 {
    text-decoration: none !important;
}

body {
    color: rgba(88, 174, 255, 0);
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100px;
    background-image: url(public/joanna-kosinska-7ACuHoezUYk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 132, 255, 0);
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Arial, sans-serif;
}

header ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

header div {
    float: right;
    margin-right: 20px;
}

header a:hover {
    text-decoration: underline;
    color: darkcyan;
}

header li {
    font-style: italic;
}

header a {
    text-decoration: none;
    color: white;
}

.logo-box img {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 205px;
    height: 60px;
    border-bottom: rgba(255, 255, 255, 0.425) 0.1px solid;
}
h1 {
    color: white;
    text-align: center;
    margin-top: 150px;
    font-size: 4rem;
    text-shadow: 2px 2px 11px beige;
}
h4{
    color: white;
        text-align: center;
        margin-top: 50px;
        font-size: 2rem;
        text-shadow: 2px 2px 11px beige;
}
.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
} 
footer {
    height: 60px;
    width: 100%;
    background: rgba(58, 3, 3, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.icons a {
    font-size: 40px;
    margin: 0 30px;
    color: bisque;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
    height: 90px;
}

.icons a:hover {
    transform: scale(1.2);
}   