body{
    background-color: beige;
    font-family: Arial, sans-serif;
    color: #333;
}
h1{
    text-align: center;
    color: red;
}
.Skills{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    color:darkblue ;
}
.Skills .bar {
    list-style-type: square;
    padding-left: 20px;
    margin: 20px 0;
}
.Skills .bar li{
    margin: 10px 0;
    font-size: 18px;
}

