body {
    background-color: rgb(199, 174, 174);
    text-align: center;
    font-size: larger;
    border-radius: 15px;
    font-family: Arial, sans-serif;
}

.logo-box {
    position: fixed;
    top: 5px;
    left: 2px;
    padding: 5px;
    border-radius: 5px;

}

.adem {

    font-size: larger;
    color: darkgreen;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    font-weight: bold;
}

.adem1 {
    font-size: larger;
    color: darkblue;
    text-decoration: underline;
    text-decoration-color: rgb(42, 63, 1);
    font-weight: bold;
}

.adem2 {
    font-size: larger;
    color: darkred;
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: bold;
}

header {
    padding: 20px;
    text-align: center;
}

.taswira {
    display: inline-block;
    border-radius: 50%;
    line-height: 0;
    text-decoration: none;
}

.taswira img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #333;
    padding: 3px;
    transition: all 0.3s ease;
    margin: 20px;
}

.taswira:hover img {
    border-color: #d62976;
    transform: scale(1.02);
}

.yassine {
    background-color: beige;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}

.social-sectionwhatsapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 45%;
}

.social-sectionwhatsapp .fb {
    display: flex;
    justify-content: center;
    width: 100%;
}

.social-sectionwhatsapp .fb img {
    width: 120px;
    height: auto;
    border-radius: 50%;
}

.social-sectionwhatsapp p.fb1 {
    margin-top: 8px;
    font-weight: bold;
}

.social-sectioninstagram {
    margin-top: 8px;
    font-weight: bold;
}


.fb1 {
    margin: 90px;
    margin-left: 100px;
    margin-top: auto;
    font-weight: bold;
}

.whatsapp {
    margin: 90px;
    margin-left: 100px;
    margin-top: auto;
    font-weight: bold;
}
.social-sectiongithub {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 45%;
}
.social-sectiongithub .fb {
    display: flex;
    justify-content: center;
    width: 100%;
}
.social-sectiongithub .fb img {
    width: 120px;
    height: auto;
    border-radius: 50%;
}

