body {
    background-color: black;
    text-align: center;
    font-size: larger;
    border-radius: 15px;
    font-family: Arial, sans-serif;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: lightyellow;
    border-radius: 15px;
}

.section1 {
    text-align: left;
}

.section2 {
    text-align: center;
}

.section3 {
    text-align: right;

}

.logo-box {
    position: absolute;
    top: 5px;
    left: 2px;
    padding: 5px;
    border-radius: 5px;

}

.adem {

    font-size: larger;
    color: darkgreen;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    font-weight: bold;
}

.adem1 {
    font-size: larger;
    color: darkblue;
    text-decoration: underline;
    text-decoration-color: rgb(42, 63, 1);
    font-weight: bold;
}

.adem2 {
    font-size: larger;
    color: darkred;
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: bold;
}

header {
    padding: 20px;
    text-align: center;
}

.taswira {
    display: inline-block;
    border-radius: 50%;
    line-height: 0;
    text-decoration: none;
}

.taswira img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #333;
    padding: 3px;
    transition: all 0.3s ease;
}

.taswira:hover img {
    border-color: #d62976;
    transform: scale(1.02);
}

header {
    padding: 20px;
    text-align: center;
}

.fb {
    display: inline-block;
    border-radius: 50px;
    line-height: 0;
    text-decoration: none;
}

.fb img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid purple;
    padding: 3px;
    transition: all 0.3s ease;
}

.fb:hover img {
    border-color: black;
    transform: scale(1.02);
}

header {
    padding: 20px;
    text-align: center;
}

.whatsapp {
    display: inline-block;
    border-radius: 50px;
    line-height: 0;
    text-decoration: none;
}

.whatsapp img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid lightblue;
    padding: 3px;
    transition: all 0.3s ease;
}

.whatsapp:hover img {
    border-color: lightyellow;
    transform: scale(1.02);
}

.yassine {
    background-color: lightgreen;
}