body{
    background-color: beige;

}
span
{
    color: darkgreen;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.fakra{
flex: 1;
margin: 1px;
text-decoration: underline lightblue;
background-color: lightcoral ;
padding: 15px;
border-radius: 50px;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}